Localization
{
	ru
	{
		#LOC_KerbalismBridge_KerbalismNotFound_Title = zKerbalismBridge: Мод Kerbalism не обнаружен!
		#LOC_KerbalismBridge_KerbalismNotFound_Msg = Мод не сможет работать без Кербализма. Проверьте правильность установки мода Kerbalism перед следующим запуском игры.
		#LOC_KerbalismBridge_Quit = Выйти
		#LOC_KerbalismBridge_SimulatedResourceAbundance = Предполагаемая концентрация: <<1>>
		#LOC_KerbalismBridge_ReactorOutputResourceFull = <<1>>: емкость заполнена на корабле <<2>>. Ядерный реактор <<3>> прекращает работу.
		#LOC_KerbalismBridge_Brokers_FissionReactor = ядерный реактор
		#LOC_KerbalismBridge_Brokers_FissionEngine = ядерный двигатель
		#LOC_KerbalismBridge_Brokers_Converter = конвертер
		#LOC_KerbalismBridge_Brokers_Harvester = сборщик ресурсов
		#LOC_KerbalismBridge_Radiator = радиатор
		#LOC_KerbalismBridge_FissionReactor_CurrentPowerPercent = Мощность реактора

		#LOC_KerbalismBridgeHarvester_UI_GroupTitle = Добываемый ресурс
		#LOC_KerbalismBridgeHarvester_Desc = 
	}
}
